# Conexão Pooler da Supabase (para ambiente Serverless/Next.js na Vercel)
DATABASE_URL="postgresql://postgres:SENHA@db.SEUID.supabase.co:5432/postgres?pgbouncer=true"

# Conexão Direta da Supabase (para rodar migrations localmente)
DIRECT_URL="postgresql://postgres:SENHA@db.SEUID.supabase.co:5432/postgres"

# Conexão Redis (Upstash)
REDIS_URL="rediss://default:CHAVE@SEUDOMINIO.upstash.io:6379"

# Configurações do NextAuth
NEXTAUTH_SECRET="coletamax-super-secret-key-12345"
NEXTAUTH_URL="http://localhost:3000"

# ImgBB API Key para upload de comprovantes operacionais
IMGBB_API_KEY=""

# Resend API Key para envio de e-mails de confirmação e boas-vindas reais
RESEND_API_KEY=""
RESEND_FROM_EMAIL="ColetaMax <onboarding@resend.dev>"
